@charset "utf-8";
@import url("Bahnschrift/stylesheet.css");
#heading {
	width: auto;
	margin-left: 0px;
	font-family: Bahnschrift;
	font-style: normal;
	text-align: center;
}
#subtitle {
}

body {
	
}
